.footer {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(/assets/images/waves-bg-10.png);
    background-size: cover;
    background-position: right center;
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
}