// ================== Heights ================
// HEIGHT IN PX
@for $i from 0 through 10 {
    .h-#{$i * 100}px {
        height: #{$i * 100}px;
    }
}

// HEIGHT IN %
@for $i from 0 through 10 {
    [h-per-#{$i * 10}],
    .h-per-#{$i * 10} {
        height: #{$i * 10}#{"%"} !important;
    }
}

.h-100vh,
[h-100vh] {
    min-height: 100vh;
}

.h-auto {
    height: auto !important;
}

// ================== Widths ================
// HEIGHT IN PX
@for $i from 0 through 10 {
    .w-#{$i * 100}px {
        width: #{$i * 100}px;
    }
}

// WIDTH IN %
@for $i from 0 through 10 {
    [w-per-#{$i * 10}],
    .w-per-#{$i * 10} {
        width: #{$i * 10}#{"%"} !important;
    }
}

.w-100vw,
[w-100vw] {
    min-width: 100vw;
}

.w-auto {
    width: auto !important;
}

@media (max-width: 767px) {
    .w-sm-100 {
        width: 100% !important;
    }
}